<scrollspy-anchor-bar></scrollspy-anchor-bar>

<!-- <div class="card mb-3" *repeatByRange="{start: 1, end: 10}; let i" 
scrollspyAnchor="Featured {{i}}">  <div class="card-header">
    Featured {{i}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

<div class="bla" *repeatByRange="{start: 1, end: 20}; let i" scrollspyAnchor="Featured {{i}}">
	<h1>Featured {{i}}</h1>
	<div class="card mb-3">
		<div class="card-header">
			Featured {{i}}
		</div>
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
</div>